<div class="fixed top-0 left-16 h-screen w-48 p-5 text-white flex flex-col bg-gray-800">
  <div class="flex flex-row justify-between content-center">
    <h1 class="text-lg font-semibold mb-3"><%= @server.name %></h1>
  </div>
  <ul>
    <% @server.channels.each do |channel| %>
      <li class="hover:bg-gray-700 text-gray-300 rounded-md py-1 px-2 flex flex-row justify-between content-center">
        <%= link_to server_channel_path(@server, channel)do %>
          <%= channel.formatted_name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
