<div class="fixed top-0 left-0 h-screen w-16 m-0 flex flex-col bg-gray-900 text-white shadow">
  <div class="sidebar-icon">
    <i class="far fa-gem"></i>
  </div>
  <div class="sidebar-icon">
    <i class="fas fa-futbol"></i>
  </div>
  <div class="sidebar-icon">
    <i class="fas fa-plus"></i>
  </div>
</div>
