<%= render layout: "/shared/modal", locals: { title: "Edit server" } do %>
  <h2 class="text-white-800 font-semibold text-xl text-center">Create server</h1>
  <%= render partial: "servers/form", locals: { server: @server } %>
<% end %>
